<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teams</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    
        <h1>This is the teams page!</h1>

        <% atlTeams.map((team)=>{ %>
            <li><%= team %></li>
        <% }) %>
        
    </body>
</html>